<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>アンケート調査システム</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/system">アンケート調査システム</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  th:text = "${loginMember}+ '　様'">会員</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/system}">アンケートリスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/logout}">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <h6 th:text = " '答弁日時 : '+${surveyResponse.createAt}"></h6><br>
    <h6 th:text = " '答弁者 : '+${name}"></h6>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> 質問</th>
            <th> 答案内容</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "answerResultDTOS: ${#lists.sort(answerResultDTOS, byNqid)}">
            <td th:text = "${answerResultDTOS.questionString}"></td>
            <td th:text = "${answerResultDTOS.answerString}"></td>

        </tr>
        </tbody>

    </table>

</div>
</body>
</html>