<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>アンケート調査システム</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/system">アンケート調査システム</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  th:text = "${loginMember}+ '　様'">会員</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/system}">アンケートリスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/logout}">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <br/>
        <h1> アンケート結果</h1>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> ID</th>
            <th> 来店番号</th>
            <th> 年齢</th>
            <th> 性別 </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "responsePersonInfoList: ${responsePersonInfoList}">
            <td th:text = "${responsePersonInfoList.id}"></td>
            <td th:text = "${responsePersonInfoList.personId}"></td>
            <td th:text = "${responsePersonInfoList.age}"></td>
            <td th:text = "${responsePersonInfoList.sex}"></td>
            <td>
                <a th:href = "@{/system/results/responseperson/details/{id}(id=${responsePersonInfoList.id})}"
                   class = "btn btn-primary">全応答確認</a>
                <a th:href = "@{/system/results/responseperson/delete/{surveyId}/{id}(id=${responsePersonInfoList.id},surveyId=${surveyId})}"
                   class = "btn btn-danger">応答削除</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>