<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>アンケート調査システム</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/system">アンケート調査システム</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  th:text = "${loginMember}+ '　様'">会員</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/system}">アンケートリスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/logout}">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <br/>
        <h1> アンケートリスト </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/system/new}" class = "btn btn-primary btn-sm mb-3"> 新しいアンケート</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> アンケート名前</th>
            <th> 質問数</th>
            <th> 返答数 </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "Survey: ${Survey}">
            <td th:text = "${Survey.surveyName}"></td>
            <td th:text = "${Survey.questionsSize}"></td>
            <td th:text = "${Survey.responseSize}"></td>
            <td>
                <a th:href = "@{/system/results/{id}(id=${Survey.id})}"
                   class = "btn btn-primary">結果確認</a>
                <a th:href = "@{/system/{id}/questions(id=${Survey.id})}"
                   class = "btn btn-info">質問確認</a>
                <a th:if = "${Survey.available}==true" th:href = "@{/system/{id}/switch
                (id=${Survey.id})}"
                   class = "btn btn-danger">TURN OFF</a>
                <a th:if = "${Survey.available}==false" th:href = "@{/system/{id}/switch
                (id=${Survey.id})}"
                   class = "btn btn-danger">TURN ON</a>
                <a th:href = "@{/system/delete/{id}(id=${Survey.id})}"
                   class = "btn btn-danger">アンケート削除</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>