<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>アンケート調査システム</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/system">アンケート調査システム</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/system}">アンケートリスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/system/logout}">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <br/>
        <h1> 質問リスト </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/system/{id}/questions/new(id=${Survey.id})}" class = "btn btn-primary btn-sm mb-3"> 新しい質問</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> 質問番号</th>
            <th> 質問内容</th>
            <th> アンケート </th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "surveyQuestions:${#lists.sort(surveyQuestions, bySqid)}">
            <td th:text = "${surveyQuestions.SurveyQuestionId}"></td>
            <td th:text = "${surveyQuestions.question}"></td>
            <td th:text = "${Survey.surveyName}"></td>
            <td>
                <a th:href = "@{/system/{id}/questions/modify/{qid}
                (id=${Survey.id},qid=${surveyQuestions.id})}"
                   class = "btn btn-warning">質問修正</a>
                <a th:href = "@{/system/{id}/questions/{qid}/answers/new
                (id=${Survey.id},qid=${surveyQuestions.id})}"
                   class = "btn btn-primary">答案追加</a>
                <a th:href = "@{/system/{id}/questions/{qid}/answers
                (id=${Survey.id},qid=${surveyQuestions.id})}"
                   class = "btn btn-info">答案詳細</a>
                <a th:href = "@{/system/{id}/questions/delete/{qid}
                (id=${Survey.id},qid=${surveyQuestions.id})}"
                   class = "btn btn-danger">質問削除</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>